# Servidor
PORT=3000
NODE_ENV=development

# MongoDB Atlas
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/franquicio

# Sesiones
SESSION_SECRET=tu_clave_secreta_aqui

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Nodemailer
MAIL_USER=tu_email@gmail.com
MAIL_PASS=tu_app_password